.contact-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  padding: 0 20px;
  margin-top: 0;
}

.contact-details {
  margin-bottom: 30px;
}

.contact-details h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-details p {
  font-size: 16px;
  line-height: 2;
}

.contact-details strong {
  font-weight: bold;
}

.enquiry-link {
  margin-top: 20px;
}

.enquiry-link a {
  color: #000000;
  font-size: 22px;
}

.service-description {
  flex: 1;
  margin-top: 30px;
  padding: 0 20px;
}

.service-description p {
  font-size: 16px;
  line-height: 2;
}

.social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.social-icons a {
  color: #000000;
  display: inline-flex;
  font-size: 24px;
  margin-right: 15px;
}
