.contact-container {
  display: flex;
  flex-direction: row; /* Set the direction to row to align items horizontally */
  max-width: 1200px; /* Increased max-width */
  margin: 0 auto;
  padding: 20px;
}

.contact-info {
  flex: 1; /* Take up equal space */
  margin-right: 20px; /* Add some space between contact info and form */
}

.contact-form {
  flex: 1; /* Take up equal space */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
  color: #777;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #777;
  font-size: 20px;
  margin: 0 10px;
}

.social-links a:hover {
  color: #333;
}

.form-section {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

button[type="submit"] {
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}
