.subscription-container {
    position: relative;
}

.subscription-content {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto; /* Center content horizontally */
}

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow elements to wrap if needed */
}

.email-input {
    width: calc(70% - 1.6rem); /* Adjust width */
    padding: 0.8rem;
    margin-right: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(216, 232, 232, 0.3); /* Adjust background color and opacity */
}

.submit-button {
    padding: 0.8rem 2rem;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button[type="submit"] {
    background-color: #ffffff; /* Changed button color to match the website */
    font-size: 18px; /* Increased font size to match the website */
    padding: 12px 24px; /* Increased padding to match the website */
  }

.submit-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.subscribe-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 2rem auto; /* Center image horizontally */
}
@media (max-width:600px){
    .subscription-form{
        display: block;
    }
}