.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home img {
  height: auto;
  width: 100%;
}

.header {
  position: fixed;
  top: 10px;
  width: 100%;
}

.thumbnail {
  width: 70%;
  /* Set thumbnail container width to 70% */
  margin-top: 50px;
  /* Add 50px space between logo and thumbnail */
  display: flex;
  justify-content: center;
  /* Center the thumbnail image horizontally */
}
a{
  cursor: pointer;
}
.thumbnail img {
  max-width: 100%;
  /* Ensure thumbnail image does not exceed container width */
}

@media (max-width: 600px) {
  .home {
    display: block;
  }

}