/* Press.css */

.press-page {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.press-page a {
  color: black;
}

.press-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.press-image {
  max-width: 100%;
}

.press-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width:600px) {
  .press-gallery {
    display: block;
  }

  .press-page {
    font-size: 14px;
  }
}