/* Basic Footer Styles */
footer {
    background-color: #241f1f;
    /* Dark background color */
    color: #fff;
    /* Light text color */
    padding: 30px 0;
    /* Padding top and bottom */
    justify-items: center;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap */
    justify-content: space-around;
    /* Center items horizontally */
    max-width: 1200px;
    /* Maximum width of content */
    margin: 0 auto;
    /* Center align horizontally */
}



.footer-link {
    color: #c5b3a6;
    /* Link text color */
    text-decoration: none;
    /* Remove underline */
    display: block;
    /* Block-level display for links */
    margin-top: 5px;
    /* Space above links */
    font-size: large;
    font-weight: 600;
}

.footer-bottom {
    text-align: center;
    /* Center align text */
    margin-top: 20px;
    /* Space above footer bottom */
}

.footer-bottom p {
    font-size: 14px;
    /* Bottom text size */
    color: #ccc;
    /* Lighter text color */
}