.overlay-new {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay-left-new {
  flex: 1 1 50%;
}

.overlay-left-new img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-right-new {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
}

.overlay-section-new {
  background-color: white;
  padding: 20px;
  flex-direction: column;
  display: flex;
  flex: 1 1 25%;
}

.overlay-links-new {
  display: flex;
  flex: 1 1 25%;
}

.overlay-links-new ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overlay-links-new li {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.overlay-links-new li:hover {
  color: #333;
}

.divider-btn-new {
  height: 2px;
  width: 100%;
  background-color: #333;
  margin: 10px 0;
}

.overlay-info-new {
  display: flex;
  flex: 1;
}

.overlay-info-new p {
  font-size: 16px;
  margin-top: 10px;
}

.logo-new {
  width: 80%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .overlay-left-new {
    display: none;
  }

  .overlay-right-new {
    width: 100%;
  }

  .overlay-links-new li,
  .overlay-info-new p {
    font-size: 16px;
  }

  .logo-new {
    width: 50%;
  }
}